.Header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100vh;
    background-color: #EAD8EB;
}

.Header>img {
    width: 100vw;
    height: 500px;
}