* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    width: 100vw;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    background-color: #006A92;
}