<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src= "page.js"></script>
</head>
<body>
    <ul>
       
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href="/not-found?foo==bar">notFound</a></li>
        
        
        
       </ul>

       
       <script>
        page("/", index);
        page("/about", about);
        page("/user", user );
        page("*", notFound);
        page();

        function index(); {
            document.querySelector("p");
            textContent = "viewing index"
        }
        function index(); {
            document.querySelector("p");
            textContent = "viewing about"
        }

        function index(); {
            document.querySelector("p");
            textContent = "viewing user"
        }


        
       </script>

    
</body>

</html>