/* __________Ver Publicaciones______________ */
.contenedorVerPubli{
height: 100vh;
width: 100vw;
background-color: #000000a8;
display: flex;
justify-content: center;
align-items: center;
position: fixed;
right: 0;
z-index: 3;

}
.verPubli{
    width: 75%;
    height: 75%;
    box-shadow:  1px 1px 2px  black;
    border-radius: 20px;
    background-image: url("../../../public/Images/bg.jpg ");
    background-position: center;
    background-size: cover;
}
.cerrarVerPubli{
    background-color: #262b5248;
    position: relative;
    left: 95%;
    top: 2%;
}
